<div>
  <h2>Emails found : <%= @transactions.count %></h2>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">
        Company
      </th>    
      <th scope="col">
        Date
      </th>
      <th scope="col">
        Description
      </th>
      <th scope="col">
        Price
      </th>
      <th scope="col">
        Quantity
      </th>
      <th scope="col">
        Import
      </th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td>
          <%= t.company %>
        </td>      
        <td>
          <%= t.date %>
        </td>
        <td>
          <%= t.description %>
        </td>
        <td>
          <%= t.price %>
        </td>
        <td>
          <%= t.quantity %>
        </td>
        <td>
          <%= t.import %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
